<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title>JU Library</title>
    <link rel="stylesheet" href="/css/layout.css">
  </head>
  <body>
    <div id="entire-page">
      
      <header>
        Jönköping Library
      </header>

      <nav>
        <ul>
          <li><a href="/books">Books</a></li>
          <li><a href="/authors">Authors</a></li>
          <li><a href="/admins">Administrators</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>

      <main>
        {{{body}}}
      </main>

      <footer>
        Copyright 2019 Jonatan Flodin Stenholm and Alexander Linné
      </footer>

    </div>

  </body>
</html>