<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title>JU Library</title>
    <link rel="stylesheet" href="/css/layout.css">
  </head>
  <body>
    <div id="entire-page">
      
      <header>
        <a href="/" style="text-decoration: none">Jönköping Library</a>
      </header>

      <div class="topnav">
        <div class="topnav-left">
          <a href="/books">Books</a>
          <a href="/authors">Authors</a>
          {{#if sessionAdmin}}
            <a href="/admins">Administrators</a>
          {{/if}}
        </div>

        <div class="topnav-right">
          {{#if sessionAdmin}}
            <div class="leftie">
              <a class="topnav-float-right" href="/admins/{{sessionAdmin.id}}">Logged in as {{sessionAdmin.Username}}</a>
            </div> 
            <div class="logout-container">
              <form method="POST" action="/admins/logout">
                <button type="submit">Logout</button>
              </form>
            </div>
          {{else}}
            <a class="topnav-float-right" href="/admins/login">Login</a>
          {{/if}}
        </div>

      </div>

{{!-- -------------------------------------------------------------- --}}

      
      <main>
        {{{body}}}
      </main>

      <div id="footer">
        <p>Copyright 2019 Jonatan Flodin Stenholm and Alexander Linné</p>
      </div>
      
    </div>

  </body>
</html>