<h1>BOOKS</h1>
<form action="/books/search/" method="GET">
  <div>
    Search <input type="text" name="bookSearch">
    <input type="submit" value="Go!">
  </div>
</form>
{{#if books.length}}
  {{#each books}}
    <div class="item">
      <a href="/books/{{ISBN}}">{{Title}}</a>
    </div>
  {{/each}}
  <button onclick="window.location.href='/books/create'">Create book</button>
{{else}}
  <div>
    <p>There is no books atm..</p>
    <button onclick="window.location.href='/books/create'">Create book</button>
  </div>
{{/if}}