<h1>ADMINS</h1>

{{#if errors.length}}
  {{#each}}
    {{this}}
  {{/each}}
{{else}}

  {{#if admins.length}}
    {{#each admins}}
    <div class="item">
      <a href="/admins/{{id}}">{{Username}}</a>
    </div>
    {{/each}}
    <button onclick="window.location.href='/admins/create'">Create new!</button>
  {{/if}}
{{/if}}
<button onclick="window.location.href='/admins/create'">Create new!</button>