{{#if errors.length}}
  <div class="centered">
    <p>Could not edit admin because: </p>
    <ul>
      {{#each errors}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}

{{#if sessionAdmin}}
  <div class="centered">
    <form method="POST" action="/admins/{{admin.id}}/edit">
      Username: <input name="username" value="{{admin.Username}}"><br>
      New Password: <input name="password"><br>
      <input type="submit" value="Save changes">
    </form>
  </div>
{{/if}}