{{#if errors.length}}
	<p>Could not create an author because:</p>
	<ul>
		{{#each errors}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
{{/if}}

<form action="/authors/create" method="POST">
  firstname: <input type="text" name="firstname"><br>
  lastname: <input type="text" name="lastname"><br>
  birthyear: <input type="text" name="birthyear"><br>
  <input type="submit" value="Create author">
</form>