
<form method="POST" action="/books/{{isbn}}/edit">
  ISBN: <input name="isbn"><br>
  Title: <input name="title"><br>
  SignId: <input name="signid"><br>
  PublicationYear: <input name="publicationyear"><br>
  PublicationInfo: <input name="publicationinfo"><br>
  Pages: <input name="pages"><br>
  <input type="submit" value="Save changes">
</form>