<form method="POST" action="/authors/{{id}}/edit">
  firstname: <input type="text" name="firstname"><br>
  lastname: <input type="text" name="lastname"><br>
  birthyear: <input type="text" name="birthyear"><br>
  <input type="submit" value="Save changes">
</form>