{{#if errors.length}}
	<p>Could not create a book because:</p>
	<ul>
		{{#each errors}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
{{/if}}

<form action="/books/create" method="POST">
  ISBN: <input name="isbn"><br>
  Title: <input name="title"><br>
  SignId: <input name="signid"><br>
  PublicationYear: <input name="publicationyear"><br>
  PublicationInfo: <input name="publicationinfo"><br>
  Pages: <input name="pages"><br>
  AuthorId: <input name="authorId"><br>
  <input type="submit" value="Create book">
</form>