<h1>BOOKS</h1>
<div >
  <label for="book-search">Search: </label>
  <input type="search" id="book-search" name="q" aria-label="Search for books">
  <button>Go!</button>
</div>
<div>
  <button>Create book</button>
</div>