<h1>LOGIN</h1>

<div class="loginBox">
    <form>
    <p>Username</p>
    <input type="text" name="" placeholder="Enter Username">
    <p>Password</p>
    <input type="password" name="" placeholder="Enter Password">
    <br>
    <input id="loginButton" type="submit" name="" value="Login">
    </form>
</div>
