<form method="POST" action="">
  surname: <input name="surname"><br>
  lastname: <input name="lastname"><br>
  birthdate: <input name="birthdate"><br>
  birthplace: <input name="birthplace"><br>
  publisher: <input name="publisher"><br>
  <input type="submit" value="Create author">
</form>