<form method="POST" action="">
  title: <input name="title"><br>
  author: <input name="author"><br>
  abstract: <input name="abstract"><br>
  isbn: <input name="isbn"><br>
  <input type="submit" value="Create book">
</form>