<h1>AUTHORS</h1>
<div >
  <label for="author-search">Search: </label>
  <input type="search" id="author-search" name="q" aria-label="Search for authors">
  <button>Go!</button>
</div>
<div>
  <button>Create author</button>
</div>