/*
#entire-page{
  background-color: white;
  width: 600px;
  border: 1px solid black;
  margin: 0 auto;
}
*/
header{
  text-align: center;
  font-size: 300%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

body{
  margin: 0;
}

nav ul li{
  display: inline;
}

main{
  padding: 5px;
}

#footer{
  position:absolute;
   bottom:0;
   width:100%;
   height:40px; 
   text-align: center;
   font-style: italic;
   border-top: 1px solid black;
}

/* Topnav */
.topnav {
  background-color: grey;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: yellow;
  color: black;
}

.topnav-right {
  float: right;
}

/* Login-page */
.loginBox{
  background-color: grey;
  position: absolute;
  width: 250px;
  height: 250px;
  padding-top: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  text-align: center;
}

.loginBox #loginButton{
  margin-top: 1em;
}

/* authors */

.item{
  background-color: cornflowerblue;
  border: 1px solid black;
  width: 15em;
  text-align: center;
  margin-top: 5px;
}

.item a{
  color: black;
}